

@media (max-width: 1025px) {
  %inputFontSize {
    font-size: 2.2vw;
  }
  .one {
    .centerTitle {
      width: 40vw;
      margin-left: 45vw;
      h1 {
        font-size: 5vw;
      }
    }
    nav {
      top: 3%;
      img {
        width: 4%;
      }
      ul li {
        font-size: 2vw;
      }
    }
  }

  .two {
    .weDo {
      width: 44vw;
      margin-left: 12vw;
    }
  }

  .tree {
    .decor {
      width: 80vw;
      position: absolute;
      bottom: -2%;
    }
    .content {
      margin-right: 0%;
      width: 50%;
      p {
        font-size: 1.4vmax;
        position: relative;
        z-index: 2;
      }
    }
  }

  .four {
    position: relative;

    .doctor {
      width: 75vw;

      .person {
        .foto {
          width: 13.5vmax;
        }
        .docSocial img {
          width: 2vmax;
        }
        .name,.position  {
          font-size: 1.5vh;
        }
       
        &:last-child {
          border-bottom-right-radius: 30%;
        }
      }
    }

    .decor {
      bottom: 64vh;
      width: 80vw;
      position: absolute;
      bottom: -2%;
      right: 0;
    }
  }

  .title {
    padding: 4vmax;
  }

  .tree {
    background-size: contain;
  }

  .five {
    img {
      width: 60vw;
    }
    .videoContainer {
      margin-left: 8vw;
      margin-right: auto;
      margin-top: 4vh;
      margin-bottom: 1vh;
      width: 35vmax;
      height: auto;
    }
    video {
      position: relative;
      z-index: 2;
    }
  }

  .six {
    .information {
      .contact {
        width: 50vmax;
        padding-left: 18vw;

        ul li {
          font-size: 2vw;

          &:last-child {
            width: 40%;
          }
        }
      }

      .navLastPage {
        nav {
          ul li {
            font-size: 2vw;
          }

          img {
            width: 4%;
          }
        }
      }
    }
    .forms {
      h2 {
        margin-bottom: 0%;
        margin-top: 5vmax;
        font-size: 6vw;
        width: 50%;
      }
      .button input {
        font-size: 2vw;
        padding: 0.7vw 0.8vw;
      }
      form {
        font-size: 2vw;
      }
      .MailPassTel input {
        @extend %inputFontSize;
      }

      .fio input {
        @extend %inputFontSize;
      }
    }
    .validationMassage {
      left: 13vw;
      .massage {
        font-size: 1.5vw;
      }
      img.cloud {
        width: 25vw;
      }
      
    }
  }
}
