@media (max-width: 425px) {
  .one {
    background-image: url(../image/bgFirstSectionMobilePortret.jpg);
    background-size: contain;
    .centerTitle {
      margin-left: 52vw;
    }
    nav {
      border-bottom: 1vw solid black;
      top: 1vh;
      img {
        width: 3vh;
      }
      ul li {
        font-size: 2.5vw;
        margin-right: 1.6%;
      }
    }
  }

  .two {
    background-image: url(../image/bgSecondPhone.png);
    background-size: cover;
    background-position: center;
    .secDecor {
      display: none;
    }
    .weDo {
      width: 60vw;
      margin-left: 1vw;
      p {
        font-size: 7vw;
      }
      li {
        font-size: 2.5vw;
      }
       ul .header {
        font-size: 7vw;
    }
    }
  }

  .tree {
    background-image: url(../image/bgThreePhone.jpg);
    .upCase {
      margin-left: 0;
      width: 4%;
    }
    .content {
      width: 75vw;
      p {
        font-size: 1.65vmax;
        position: relative;
        z-index: 2;
      }
      h2 {
        text-align: center;
      }
    }
    .decor {
      width: 60vw;
      position: absolute;
      bottom: -2%;
    }
  }
  .four {
    .doctor {
      width: 80vw;
      .person {
        padding-top: 0;
        width: 40vw;
        .foto {
          width: 25vw;
        }
        .docSocial img {
          width: 2.5vmax;
        }
      }
    }
    .title {
      height: 15vh;
      margin-bottom: 4.5vh;
      padding-right: 6vmax;
      width: 46vh;
      p {
        font-size: 1.8vmax;
      }
    }
  }

  .five {
    background-image: url(../image/bgfivePhone.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    .title {
      width: 80vw;
      padding: 6% 0 0 4%;
    }
    .videoContainer {
      margin-left: 8vw;
      width: 65vw;
    }
  }

  .six {
    overflow: hidden;
    .forms {
      height: 30vh;
      width: 80%;
      min-height: 31%;
      h2 {
        width: max-content;
      }
      .fio div label,
      .MailPassTel div label,
      .MailPassTel input,
      .fio input {
        font-size: 2.5vw;
      }
      .button button {
        font-size: 1vmax;
      }
    }
    .information {
      .map {
        width: 70vw;
        height: 20vh;
        position: absolute;
        top: auto;
        bottom: 0;
        right: 14vw;
        iframe {
          margin: 0;
          width: 100%;
          height: 100%;
        }
      }
      .contact {
        height: 40vh;
        text-align: center;
        width: 100vw;
        padding-left: 0;
        ul li:last-child {
          text-transform: uppercase;
          width: 30%;
          margin-left: auto;
          margin-right: auto;
        }
      }
      .navLastPage nav {
        border-top: 3px solid black;
        img {
          width: 3vh;
        }
        ul li {
          font-size: 2.5vw;
          margin-right: 1.6%;
        }
      }
    }
    .validationMassage {
      width: max-content;
      height: max-content;
      position: absolute;
      z-index: 20000;
      left: 1vw;
      .massage {
        font-size: 2vw;
      }
      img.cloud {
        width: 34vw;
      }
    }
  }
}
