
@media (max-height: 420px) {
    %doctorText {
        font-size: 2.4vh;
      }

  .one {
    background-image: url(../image/bgFirstSectionMobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    position: relative;

    .centerTitle {
      width: 45vw;
      margin-left: auto;
      margin-right: auto;
      right: 25vw;
      height: 65vh;
    }
    .decor {
      width: 55vw;
    }
    nav {
      border-bottom: 1vh solid black;
      margin-top: 1%;
      ul li {
        font-size: 1.8vmax;
      }
    }
  }

  .two .weDo li {
    font-size: 3vh;
    margin-left: 2%;
    line-height: 2;
  }

  .tree {
    background-image: url(../image/bgThreeMobile.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    .decor {
      width: 80vh;
      position: absolute;
      bottom: -2%;
    }
    .upCase {
      width: 30vw;
      margin-left: 0%;
    }
    .content {
      width: 65vw;

      p {
        font-size: 2.7vh;
      }
    }
  }

  .four {
    .decor {
      width: 80vh;
    }
    .title {
      height: 17vh;
      padding: 1vmax;
      h2 {
        font-size: 7vh;
      }
    }
    .doctor {
      .person {
        .foto {
          width: 21vh;
        }
        .docSocial img {
          width: 4vh;
        }
        .name ,.position  {
         font-size: 2.4vh;
        }
      }
    }
  }

  .five {
    .title p {
      font-size: 3vh;
    }
    .videoContainer {
      margin-left: 4vw;
      width: 70vh;
    }
    img {
      width: 70vh;
    }
  }

  .six {
    .forms {
      min-height: 40%;
      h2 {
        margin-top: 2%;
        font-size: 2.5vw;
      }
      .button {
        button {
          font-size: 2vh;
        }
        input {
          font-size: 1.2vw;
          padding: 0.2vw 0.8vw;
        }
      }
      .MailPassTel div label,
      .fio label {
        font-size: 2vw;
      }
      .MailPassTel input,
      .fio input {
        font-size: 2.2vw;
      }
    }
    .information {
      .navLastPage {
        nav {
          border-top: 2px solid black;

          ul li {
            font-size: 2.5vh;
            margin-top: 0px;
          }

          img {
            width: 5vh;
            margin-top: 0px;
          }
        }
      }
      .contact ul li {
        font-size: 1.5vmax;
      }
    }
    .validationMassage {
      left: 25vw;

      .massage {
        font-size: 1.2vw;
      }

      img.cloud {
        width: 20vw;
      }
    }
  }
}
